.autodetect-auth-container.smokescreen(class=autodetect&&autodetect==true?'show':'hide')
  .autodetect-auth.card
    form(action="/api/autodetectfields/#{info._id}" method="post")
      h3 Auto Detect
      p.hint In order to successfully auto detect the fields inside the selected table please provide the following information.
      label Base URL
      input.auth-item.form-control(placeholder="The Roots" data-param="base_endpoint" value="#{info.test_url || ''}" name="test_url")      
      p.hint In the twitter api call "https://api.twitter.com/1.1/search" -  
        strong https://api.twitter.com 
        | would be the base URL
      .spacer
      .required-auth-info
        case dictionary.auth_method        
          when "Basic"
            include ./autodetect/basic.jade
          when "API Key"
            include ./autodetect/api-key.jade
          when "OAuth"
            if dictionary.auth_options.auth_version=="1.0"
              include ./autodetect/oauth1.jade
            else          
              include ./autodetect/oauth2.jade          
      .center
        button.inline.primary-button.autodetect-auth-ok(type="submit") OK
        button.inline.primary-button.autodetect-auth-cancel(type="button") Cancel
