include ./header.jade
include ./errorbanner.jade
.intro.content
  div.container
    h1 The home of RESTful Dictionaries for the Qlik Sense Alternative REST Connector
    .description This tool contains a library of public, free to use dictionaries for use with the 
      a(href="") Alternative REST Connector for Qlik Sense.
      br
      | You can view or download existing connectors or create your own by logging in through GitHub and following the wizard. All connectors found here can also be accessed directly through the connector when loading data into Qlik Sense.
      | If you don't already have the connected or would like to find out more you can find it 
      a(href="") here
.library.content
  div.container
    h1 Public Dictionaries
include ./footer.jade
