include ./header.jade
.container
  .login-container
    p.description We use GitHub to store and manage all of the configuration files. To create your own configuration please login with GitHub below. By doing this, you are giving this tool permission to create public repositories against your account.
    .login-logo
    a.login-button.primary-button(href="/auth/login") Login with GitHub
include ./footer.jade
