include ./header.jade
div.container.page  
  .card.token-card.oauth-helper
    h1 Authorize
    //form(method="post" action="/api/oauth2_authorize/#{info._id}")
    label Please enter the client secret for 
      strong #{clientId}
    .center
      form(action="/api/oauth2_authorize/#{info._id}/done" method="post")
        input.form-control.auth-item(type='password' data-provider="temp" data-prop="client_secret" name='client_secret' value="")      
        p.hint Please enter your client secret.
        div.center
          button.secondary-button.inline(type="submit") Authorize    
include ./footer.jade
