include ./header.jade
div.container.page  
  .card.token-card
    h1 Access Token
    span #{token}
    p.hint You can now use this code for using the auto detect feature in the factory or to create the connection in Qlik Sense.
include ./footer.jade
