h2 API Key Authentication
p.hint #{defaults.auth_methods.api_key.description}
label URL Parameter
input.form-control(value="#{dictionary.auth_options.api_key_parameter || ''}" data-provider="github" data-prop="auth_options.api_key_parameter")
p.hint The name of the URL parameter used to pass in the API Key.
