if !dictionary.auth_options.auth_version || (dictionary.auth_options.auth_version && dictionary.auth_options.auth_version=='1.0')
  label Request Token Url
  input.form-control.auth-item(type='text' value="#{dictionary.auth_options.oauth_request_url || ''}" data-provider="github" data-prop="auth_options.oauth_request_url")
  p.hint The Url used to initialize the OAuth 1.0 workflow.
label Authorize Url
input.form-control.auth-item(type='text' value="#{dictionary.auth_options.oauth_authorize_url || ''}" data-provider="github" data-prop="auth_options.oauth_authorize_url")
p.hint The Url to redirect users to so that they can Authorize the application.
label Access Token Url
input.form-control.auth-item(type='text' value="#{dictionary.auth_options.oauth_token_url || ''}" data-provider="github" data-prop="auth_options.oauth_token_url")
p.hint The Url that can be used to exchange a given code for an Access Token. More information on OAuth 2.0 can be found 
  a(href="") here
br
//- button.secondary-button.store_oauth_creds Store OAuth Credentials
//- p.hint To simplify the authentication process for end users you can store your Client Id and Client Secret against the dictionary. These details will not be available publicly.
.spacer
  h4 Advanced
  label Redirect Uri Parameter
  input.form-control.auth-item(type='text' value="#{dictionary.auth_options.oauth_redirect_url_parameter || ''}" data-provider="github" data-prop="auth_options.oauth_redirect_url_parameter")  
  p.hint If your OAuth redirect uri parameter is NOT 'redirect_uri' then you can specify it here
