label Username
input.form-control.auth-item(type='text' data-provider="temp" data-prop="username" name='username' value="#{temp.username || ''}")
p.hint Please enter your username.
label Password
input.form-control.auth-item(type='password' data-provider="temp" data-prop="password" name='password' value="#{temp.password || ''}")
p.hint Please enter your password.
