include ../header.jade
include ./navigation.jade
include ../errorbanner.jade
.container.wizard.general
  .card
    h2 Page me a picture
    .row
      for page in defaults.paging_methods
        .col-md-3
          div(class='card' class='paging-method' class=dictionary.paging_method==page.name?'active':'' data-provider='github' data-prop='paging_method' data-item='#{page.name}')
            .paging-type
              h3 #{page.name}
            .paging-desc
              p.hint #{page.description}
  .vertical-spacer
  .card
    .row
      .col-md-12                      
        case dictionary.paging_method
          when "Pages"
            include ./paging/pages.jade
          when "Offset/Limit"
            include ./paging/offset_limit.jade
          when "Supplied URL"
            include ./paging/url.jade
          default
            include ./paging/none.jade    
include ../footer.jade
