include ../header.jade
include ./navigation.jade
include ../errorbanner.jade
.container.wizard.general
  h1 #{info.display_name}
  h2 Tell us about your RESTful source
  .row
    .col-md-12
include ../footer.jade
