h2 Paging with a Supplied URL
label Supplied URL
input.form-control(placeholder="Where to now?" value="#{dictionary.paging_options.supplied_url || ''}" data-provider="github" data-prop="paging_options.supplied_url")
p.hint The downloaded data should have a property providing a URL for the next page to download.
