@default-text: rgb(100,100,100);
@primary: #564787;
@accent: #DBCBD8;
@secondary: #101935;
@secondary-accent: #9AD4D6;
@neutral: #FFFFFF;
@dust: #EEEEEE;
@fog: #CCCCCC;
@smog: #AAAAAA;
@smoke: rgba(200,200,200,0.8);
@green: #a3ba49;
@red: #aa3840;

.white{
  color: white !important;
}
