@default-text: rgb(70,70,70);
@primary: #908F96;
@accent: #CEBDA4;
@secondary: #101935;
@secondary-accent: #AEB9C7;
@neutral: #FFFFFF;
@dust: #EEEEEE;
@fog: #CCCCCC;
@smog: #908F96;
@smoke: rgba(200,200,200,0.8);
@green: #a3ba49;
@red: #aa3840;

.white{
  color: white !important;
}
