@import "colours.less";
@import "fonts.less";

body{
  font-family: sans-serif, helvetica, arial;
  font-weight: lighter;
  color: @default-text;
  background-color: @dust;
}

.page{
  margin-top: 60px;
}

.content{
  padding: 10px 0px;
}

.primary-button, .secondary-button{
  display: block;
  width: 200px;
  padding: 5px;
  height: 35px;
  line-height: 26px;
  text-align: center;
  border-radius: 3px;
  font-weight: normal;
  border: none;
}

.primary-button{
  background-color: @secondary-accent;
  color: @secondary;
  box-shadow: 0px 0px 2px @secondary;
}

.secondary-button{
  background-color: @accent;
  color: @primary;
  box-shadow: 0px 0px 2px @primary;
}

.title{
  font-size: 20px;
  font-weight: normal;
}

.sub-title{
  font-size: 14px;
  font-weight: normal;
  color: @secondary;
}

h1{
  font-size: 24px;
  color: @primary;
}
h2{
  font-size: 20px;
  color: @default-text;
}
h3{

}

ul{
  list-style-type: none;
}

.description{
  padding: 10px 0px;
}

.card{
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #ccc;
}

.dictionary{
  .icon{
    text-align: center;
    height: 150px;
    width: 100%;
    img{
      max-height: 150px;
    }
  }
  .title{
    display: block;
    height: 20px;
  }
  margin-bottom: 5px;
}

.hint{
  strong{
    color: @primary;
  }
}

@import "icons.less";
@import "header.less";
@import "home.less";
@import "login.less";
@import "wizard.less";
