.dictionary-nav{
  .nav-button{
    height: 60px;
    display: inline-block;
    line-height: 50px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: @accent;
    a{
      color: @accent;
    }
    &.active{
      color: @primary;
      a{
        color: @primary;
      }
    }
    &:hover{
      box-shadow: 0px 0px 5px @accent;
    }
  }
}

.general{
  .icon{
    img{
      max-width: 150px;
    }
  }
}

.wizard{
  .auth-method, .paging-method{
    height: 150px;
    cursor: pointer;
    .auth-type, .paging-type{
      text-align: center;
    }
    .auth-desc, .paging-desc{
      font-size: 12px;
    }
  }
  .save-successful{
    color: @green;
  }
  .table-card{
    h3{
      margin-top: 5px;
      margin-bottom: 0;
    }
  }
}

.autodetect-auth{
  width: 500px;
  margin: 80px auto;
  padding-bottom: 20px;
}
