.dictionary-nav{
  .nav-button{
    height: 60px;
    display: inline-block;
    line-height: 50px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: @accent;
    a{
      color: @accent;
    }
    &.active{
      background-color: @primary;
      color: white;
      &:hover{
        -ms-transform: scale(1); /* IE 9 */
        -webkit-transform: scale(1); /* Chrome, Safari, Opera */
        transform: scale(1);
      }
    }
    &:hover{
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
      transform: scale(1.1);
    }
  }
}

.general{
  .icon{
    img{
      max-height: 100px;
    }
  }
}

.wizard{  
  .path{
    font-size: 14px;
    font-weight: normal;
    color: @accent;
  }
  .auth-version{
    span, input{
      line-height: 30px;
      height: 30px;
      padding: 0;
      margin: 0;
      width: auto;
      min-width: 30px;
      vertical-align: top;
      box-shadow: none;
    }
    input{
      margin-right: 50px;
    }
  }
  .auth-method, .paging-method{
    height: 110px;
    cursor: pointer;
    background-color: white;
    .auth-type, .paging-type{
      text-align: center;
    }
    .auth-desc, .paging-desc{
      font-size: 12px;
    }
    &.active{
      border: 2px solid @accent;
      box-shadow: 0px 0px 5px @accent;
    }
  }
  .save-successful{
    color: @green;
  }
  .table-card, .field-card{
    background-color: white;
    position: relative;
    h3{
      margin-top: 5px;
      margin-bottom: 0;
    }
    .delete-button{
      position: absolute;
      top: ~"calc(50% - 15px)";
      height: 20px;
      right: 5px;
    }
    margin-bottom: 5px;
  }
  .field-card{
    position: relative;
    input{
      border: none;
      width: 50%;
    }
    select{
      position: absolute;
      right: 50px;
      top: ~"calc(50% - 15px)";
      height: 30px;
      border: none;
      box-shadow: none;
      width: 100px;
      color: @fog;
      font-size: 14px;
    }
  }

  .btn-file {
    display: inline-block !important;
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }
}

.autodetect-auth{
  width: 500px;
  margin: 80px auto;
  padding-bottom: 20px;
}
